<style>
  :root {
    --bg: #071e36;
    --card-bg: #041221;
  }

  .anisync--navbar {
    background: var(--bg);
  }

  input::placeholder {
    color: antiquewhite;
  }

  .navbar {
    background: var(--card-bg);
  }

  .navbar-item {
    color: ghostwhite;
  }  

  .navbar-dropdown {
    background: var(--card-bg);
  }

  .carousel{
    overflow:hidden;
  }

  .slider-pagination {
    z-index: -1;
  }

  .slider-navigation-previous {
    left: 10px;
  }
  .slider-navigation-next {
    right: 10px;
  }
</style>

<nav class="navbar anisync--navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="https://cdn.emk.dev/templates/bulma-logo-light.png" alt="Logo">
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>    
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">                
        <%= link_to "My List", "/list" , class: "navbar-item" %>
        <%= link_to "Sync Providers" , "/authentication_providers", class: "navbar-item" %>      
        <a class="navbar-item">
          Stats
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item navbar-link"><%= current_user.username %></a>
          <div class="navbar-dropdown">
            <a class="navbar-item">Dashboard</a>
            <a class="navbar-item">Profile</a>
            <a class="navbar-item">Settings</a>
            <hr class="navbar-divider">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo: "false" }, class: "navbar-item"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<br>

<section class="container">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <h3 class="title is-3">Your Dashboard</h3>
      <div class="content is-medium">
        <div class="box">
          <h4 id="const" class="title is-4">Quick Update</h4>
          <%# <div>
            <button class="button is-primary" data-action="click->dashboard#syncList">Sync List</button>
          </div> %>
          <div class="column is-12">
            <div class="carousel" data-controller="carousel">
              <% current_user.anime_list.first[:watching].each_with_index do |entry, index| %> 
                <div class=<%="item-#{index + 1}"%>>
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-square">
                        <img src=<%= entry.anime.image_url %>>
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-5"><%= entry.anime.name.truncate(20, omission: '...') %></p>
                          <p class="subtitle is-6"><%= entry.anime.aired_at_year %></p>
                        </div>
                      </div>                  
                      <div class="content">
                        <div class="columns">
                          <div class="column is-8">
                            <progress class="progress is-success" value=<%="#{entry.completion_percentage}"%> max="100"><%="#{entry.completion_percentage}%"%></progress>
                          </div>
                          <div class="column is-4">
                            <p class="title is-6"><%= "#{entry.episodes_seen}/#{entry.anime.total_episodes > 0 ? entry.anime.total_episodes : "?"}" %></p>                            
                          </div>                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>                       
            </div>
          </div>               
        </div>        
      </div>
    </div>
  </div>
</section>

<!-- <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="soc">
        <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
      </div>
      <p>
        <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>.
        The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
      </p>
    </div>
  </div>
</footer> -->